[Unit]
After=network.target
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/api
ExecStart=/root/.nvm/versions/node/v16.17.0/bin/node index.js
Restart=on-failure

# Output to syslog
#StandardOutput=/var/log/syslog
#StandardError=/var/log/syslog
#Change this to find app logs in /var/log/syslog
SyslogIdentifier=planet
# Followig will require if you are using the PORT or Node from Envirnoment
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
