:root {
  --color-white: "#fff";
  --color-brown: "#544502";
  --color-yellow: "#ffcd00";
  --color-blue: rgb(2, 38, 170);
  --color-blue-fonce: "#0226aa";
  --color-green: rgb(78, 201, 176);
  --color-noir-fonce: "#2a2a2a";
  --header-height: 114px;
  --header-margin: 10px;
  --font-family: "SofiaPro";
  --header-bg-color: var(--color-white);
  --header-text-color: var(--color-brown);
  --text-base: ;
  --x: "50";
  --y: "50";
}

#container_move4,
#container_move6,
#container_move7,
#container_move8,
#container_move9,
#container_move10,
#container_move11,
#container_moveBIM {

  background-color: rgba(249, 249, 249, 1);
}


/* @font-face { */
  /* font-family: "SofiaPro-Black"; */
  /* src: url("../public/SofiaPro-Black.woff2"); */

  /* font-weight: 900; */
/* } */

/* @font-face { */
  /* font-family: "SofiaPro-Bold"; */
  /* src: url("../public/SofiaPro-Bold.woff2"); */
  /* font-weight: 700; */
/* } */

/* @font-face { */
  /* font-family: "SofiaPro-Medium"; */
  /* src: url("../public/SofiaPro-Medium.woff2"); */

  /* font-weight: 500; */
/* } */

@font-face {
  font-family: "SofiaPro";
  src: url("../public/SofiaPro-Regular.woff2");
  font-weight: 400;
}

/* @font-face { */
  /* font-family: "SofiaPro-SemiBold"; */
  /* src: url("../public/SofiaPro-SemiBold.woff2"); */
  /* font-weight: 600; */
/* } */

body {
  font-family: var(--font-family);
}

.header {
  height: var(--header-height);
  background-color: var(--color-yellow);
  overflow: hidden;

}

.header_menu_el {
  color: var(--color-brown);
}


.text-right {
  text-align: right;
}

#text_bas_37.text1,
#text_bas_37.text1 {
  opacity: 1;
}

.text2 {
  opacity: 0;
}

.text3 {
  opacity: 0;
}

.blueLetter {
  color: #0226aa;
}

.whiteLetter {
  color: #fff;
}

.circle {
  border: 2px solid red;
  background-color: #ffffff;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}





.carousel-pager {
  position: fixed;
  bottom: 10vh;
  left: 40vw;
  width: 100%;
  margin: 0 auto;
  z-index: 10000;
}


.active .carousel-pager-item {
  width: 4px;
  height: 40px;

}

.carousel-pager-item {
  width: 2px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
  transition: height 1s ease;
}

.carousel-pager button {
  position: relative;
  padding: 0 8px;
  margin: 0 2px;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  transform: rotate(15deg);
  /* cursor: pointer; */
  z-index: 10000;
}

.font-weight600 {
  font-weight: 600;
}

@font-face {
  font-family: "chalkboy";
  src: url("../public/ChalkboyRegular-vmXe7.otf");
  font-weight: 700;
}

/* @font-face {
  font-family: "vscode";
  src: url("../public/Consola.ttf");
  font-weight: 700;
} */




.ccode {
  font-size: 40px;
  font-family: "chalkboy";
  padding-top: 10px;
  rotate: -10deg;
  position: absolute;
  color: rgba(2, 38, 70, 0.5);
}

#code_contain {
  z-Index: 100;
  /* font-family: "vscode"; */
  position: absolute;





  color: #fff;

}

.code_space {
  margin-left: 20px;
}

.bg_grey {
  background-color: rgb(31, 31, 31)
}

.vscode_orange {
  color: rgb(206, 145, 120)
}


.vscode_blanc {
  color: rgb(255, 255, 255)
}

.vscode {
  height: 10px;
}

#AP_Hidden {
  color: var(--color-brown);
  z-index: 101;

}

#code_contain div {
  height: 25px;
  z-index: 200;
  color: rgb(156, 220, 254);

  text-shadow: 1px 1px 2px white;

}

/* #main_content_zone1_hidden {} */

#bgCircle,
#bgCircle6,
#bgCircle7,
#bgCircle8,
#bgCircle9,
#bgCircle10,
#bgCircle11,
#bgCircleBIM {

  background-color: rgb(31, 31, 31);
}



.img_site {
  display: block;
  margin-top: auto;
  margin-bottom: auto;

}

.ttttick {
  height: 15px;
  width: 15px;
}

video {
  height: 15px !important;
  width: 15px;
}

.span_image {
  background-image: url('../public/cv_blanc.png');
  background-size: "cover",
}

.text-green {

  color: var(--color-green);
}





.h-screen-1\/2 {
  height: 50vh;
}

.w-screen-1\/2 {
  width: calc(100% - 10vh);
}

.h-screen {
  height: 100%
}

.w-40vw {
  width: 40%;
}

@media (min-width:1000px) {
  .rg\:text-start {
    text-align: start;
  }


}



@media (max-height:660px) {

  #texte_bas,
  #texte_droite {
    display: none;
  }
}


.top-50prcent {
  top: 50vh;
}

@media (max-width:328px) {
  #code_contain {
    top: 50vh;
  }
}

@media (min-width:328px) and (max-width:465px) {
  #code_contain {
    top: 40vh;
  }
}

@media (min-width:465px) and (max-width:776px) {
  #code_contain {
    top: 35vh;
  }
}

@media (min-width:0px) and (max-width:776px) {
  .mini\:overflow-x-hidden {
    overflow-x: hidden;
  }
}




.borderComp {
  padding: 10px 10px;
  background-color: rgb(249, 249, 249);


  position: relative;
  border-radius: 30px;

  color: rgb(10, 10, 10);


}



@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 500px;
  }
}

.borderComp1 {
  border-color: var(--color-yellow);
}

.borderComp2 {
  border-color: var(--color-blue);
}

.borderComp3 {
  border-color: var(--color-green);
}

.borderComp1:before {
  border-radius: 30px;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: var(--color-yellow);


}

.borderComp2:before {
  border-radius: 30px;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: var(--color-blue);


}

.borderComp3:before {
  border-radius: 30px;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: var(--color-green);


}




#form {
  text-align: center;
}


#form {
  background-color: hsl(0, 0%, 99%);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 1vw;
  padding: 10vh 10vw 10vh 10vw;
}

#formWrapper {
  width: 100vw;
  padding: 10vh 10vw 10vh 10vw;
  background-color: red;

}

#rightscroll {

  font-family: "Arial";
  font-weight: 500;
  size: 20;
}

#scrollbutton span:before {}

#scrollbutton:hover {}

@keyframes example {


  to {
    background-color: var(--color-blue-dark);
  }
}

.bg-dark-blue {
  background-color: var(--color-blue-dark);
}

.bg-light-blue {
  background-color: var(--color-green);
}

.min-h-32 {
  min-height: 50px;

}

.opa-0 {

  animation-name: opa-0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.opa-1 {

  animation-name: opa-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes opa-0 {


  to {

    opacity: 0;
  }
}

@keyframes opa-1 {


  to {

    opacity: 1;
  }
}

.h-1\/2 {
  height: 50%;
}

#formcontact {
  background-color: var(--color-green);
}

.m-4 {
  margin: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
}


#texte-contact {
  font-family: "chalkboy";

}

.w-1\/6 {
  width: 15%;
}

.w-1\/12 {
  width: 8%;
}

.h-1\/3 {
  height: 33%;
}

.right-3 {}

.top-1\/3 {}

@media (min-width:1024px) {
  .lg\:block {
    display: block !important;
  }
}

#part2 {
  background-image: linear-gradient(45deg,
      rgb(78, 201, 176) 0%,
      rgb(78, 201, 176) 20%,
      rgb(5, 213, 250) 20%,
      rgb(5, 213, 250) 40%,
      rgb(78, 201, 176) 40vh,
      rgb(78, 201, 176)60%,
      rgb(249, 249, 249) 60%,
      rgb(249, 249, 249) 80%,
      rgb(249, 249, 249) 80%,
      rgb(249, 249, 249) 100%);
}


.vscode_rose {
  color: rgb(197, 134, 192)
}

.vscode_bleu {
  color: rgb(156, 220, 254)
}

.vscode_vert {
  color: var(--color-green)
}

.vscode_beige {
  color: rgb(220, 220, 170)
}

.vscode_jaune {
  color: rgb(255, 215, 0)
}

.text-green {
  color: var(--color-green)
}

.text-light-blue {
  color: var(--color-blue)
}

@keyframes x-0 {


  from {

    right: -100px;
  }

  to {

    right: 0px;
  }
}

.x-0 {


  animation-timing-function: linear;
  animation-name: x-0;
  animation-duration: 2s;

}

#submitBouton {
  font-family: "chalkboy";
  width: 50%;

  background-color: rgb(255, 215, 0);
  border-color: rgb(255, 215, 0);
  border-width: 2px;

}

@media (min-width:1024px) {

  .xl\:text-5xl {
    font-size: calc(80px/var(--text-default-size)*var(--text-base-size)) !important;
  }

  #formcontact {
    height: 55vh;
  }
}

@media (min-width:768px) and (max-width:1024px) {

  .md\:text-3xl {

    font-size: 35px !important;
    font-size: var(--text-3xl) !important;
  }
}

@media (max-width:500px) {

  #formcontact {
    height: 60vh;
  }

}

@media (max-width:1024px) and (min-width:500px) {


  #formcontact {
    height: 55vh;
  }
}

#shrink_button {
  position: absolute;
  z-Index: 100;
  height: 7vh;
  width: 7vh;
  right: 10vh;
  top: 20vh;
  opacity: 0;
  cursor: pointer;
}




div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  animation: clickEffect 1s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }

  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03em;
  }
}

.small {
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.big {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20rem;
  animation-name: stretch;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


@keyframes stretch {
  0% {

    opacity: 0.2;
    background-color: green;
    border-radius: 100%;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: red;
  }
}


body {
  /* animation: cursor 10s linear infinite; */
  /* cursor:move; */
}

#vtk {
  /* cursor:move; */
  /* animation: cursor 10s linear infinite; */
  pointer-events:auto;
  cursor: move;
}

/* .App2 div{
  cursor:move;
  
} */

/* #tttt{
	cursor:move;
} */

#div_clip_path {
  /* cursor: move; */
  cursor: url('./../public/4arrows_32x32.png'); 
  /* animation: cursor 10s linear infinite; */
}

.four_arrow_cursor {
  /* cursor: url('./../public/4arrows_32x32.png');  */
  /* pointer-events:none; */
}

/* body.inheritCursors * { */
/* cursor: inherit !important; */
/* } */

@keyframes cursor{ 
     0% { 
        cursor: url('./../public/4arrows_32x32.png'), auto; 
    } 
     50% {  
         cursor: url('./../public/4arrows_32x32.png'), auto;
     } 
     100% {  
         cursor: url('./../public/4arrows_32x32.png'), auto; 
     } 
 }

 #texte_cursorr{
  /* filter:blur(0px); */
  /* perspective: 1000px; */
  /* transform: perspective(50em) rotateX(50deg); */
  /* animation:deblur 4s forwards; */
 }

 @keyframes blur {
  from {
    filter:blur(0px);
  }
  to {
    filter:blur(4px);
  }
}

@keyframes deblur {
  from {
    filter:blur(4px);
  }
  to {
    filter:blur(0px);
  }
}

.deblur{
  animation: deblur 1s forwards;
}

.blur{
  animation: blur 1s forwards;
}



.light {
  
  display: block;
  border-radius: 50%;
  margin: 10px;
  border-width: 5px;
  background-color: grey;
  transition: all 1s ease-in-out;
}

.grand{
	height: 200px;
  width: 200px;
	
}

.petit{
	height: 100px;
  width: 100px;
	
}



.effet_perso{
	overflow:clip;
}

.effet_perso:after{
	
  	content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px; /* Taille initiale du cercle (50% du conteneur) */
  height: 0px; /* Taille initiale du cercle (50% du conteneur) */
  border-radius: 50%;
  /* background-color: rgb(78, 201, 176); */
   background-color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
  z-Index:-1;
	
}

.effet_perso:hover::after{
	
	width:20vw;
	height:20vw;
}
	