:root {
  /* --text-default-size: 16; */
  /* --text-base-size: 16; */
  /* --text-base: calc(16px/var(--text-default-size)*var(--text-base-size)); */
  --color-white: "#fff";
  --color-brown: "#544502";
  --color-yellow: "#ffcd00";
  --color-blue: rgb(2, 38, 170);
  --color-blue-fonce: "#0226aa";
  --color-green: rgb(78, 201, 176);
  --header-height: 114px;
  --header-margin: 10px;
  --font-family: "SofiaPro";
  --header-bg-color: var(--color-white);
  --header-text-color: var(--color-brown);
  --text-base: ;
  --x: "50";
  --y: "50";
}

#container_move4,
#container_move6,
#container_move7,
#container_move8 {

  background-color: rgba(249, 249, 249, 1);
}


@font-face {
  font-family: "SofiaPro-Black";
  src: url("../public/SofiaPro-Black.woff2");
  /* font-weight:bold; */
  font-weight: 900;
}

@font-face {
  font-family: "SofiaPro-Bold";
  src: url("../public/SofiaPro-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SofiaPro-Medium";
  src: url("../public/SofiaPro-Medium.woff2");
  /* font-weight:medium; */
  font-weight: 500;
}

@font-face {
  font-family: "SofiaPro";
  src: url("../public/SofiaPro-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SofiaPro-SemiBold";
  src: url("../public/SofiaPro-SemiBold.woff2");
  font-weight: 600;
}

body {
  font-family: var(--font-family);
}

.header {
  height: var(--header-height);
  background-color: var(--color-yellow);
  overflow: hidden;
  /* margin-top: 1rem; */
}

.header_menu_el {
  color: var(--color-brown);
}

/* pas présent dans tailwind.css */
.text-right {
  text-align: right;
}

#text_bas_37.text1,
#text_bas_37.text1 {
  opacity: 1;
}

.text2 {
  opacity: 0;
}

.text3 {
  opacity: 0;
}

.blueLetter {
  color: #0226aa;
}

.whiteLetter {
  color: #fff;
}

.circle {
  border: 2px solid red;
  background-color: #ffffff;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}



/* Carousel */

.carousel-pager {
  position: fixed;
  bottom: 10vh;
  left: 40vw;
  width: 100%;
  margin: 0 auto;
  z-index: 10000;
}


.active .carousel-pager-item {
  width: 4px;
  height: 40px;
  /* background-color: #fff; */
}

.carousel-pager-item {
  width: 2px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
  transition: height 1s ease;
}

.carousel-pager button {
  position: relative;
  padding: 0 8px;
  margin: 0 2px;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  transform: rotate(15deg);
  cursor: pointer;
  z-index: 10000;
}

.font-weight600 {
  font-weight: 600;
}

@font-face {
  font-family: "chalkboy";
  src: url("../public/ChalkboyRegular-vmXe7.otf");
  font-weight: 700;
}

@font-face {
  font-family: "vscode";
  src: url("../public/Consola.ttf");
  font-weight: 700;
}

/* #################################################### */
/* CODE APPARENT première page */
/* #################################################### */
.ccode {
  font-size: 40px;
  font-family: "chalkboy";
  padding-top: 10px;
  rotate: -10deg;
  position: absolute;
  color: rgba(2, 38, 70, 0.5);
}

#code_contain {
  z-Index: 100;
  font-family: "vscode";
  position: absolute;
  /* top:"25%"; */
  /* right: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin-top: 100px; */
  color: #fff;
  /* font-size: 20px; */
}

.code_space {
  margin-left: 20px;
}

.bg_grey {
  background-color: rgb(31, 31, 31)
}

.vscode_orange {
  color: rgb(206, 145, 120)
}

.vscode_rose {
  color: rgb(197, 134, 192)
}

.vscode_bleu {
  color: rgb(156, 220, 254)
}

.vscode_vert {
  color: var(--color-green)
}

.vscode_beige {
  color: rgb(220, 220, 170)
}

.vscode_jaune {
  color: rgb(255, 215, 0)
}

.vscode_blanc {
  color: rgb(255, 255, 255)
}

.vscode {
  height: 10px;
}

#AP_Hidden {
  color: var(--color-brown);
  z-index: 101;
  /* position:absolute; */
}

#code_contain div {
  height: 25px;
  z-index: 200;
  color: rgb(156, 220, 254);
  /* color: transparent; */
  text-shadow: 1px 1px 2px white;
  /* position:absolute; */
}

#main_content_zone1_hidden {
  background-image: url("../public/photo-1578662996442-48f60103fc96.avif");
  background-size: cover;
  /* min-height: ; */
}

#bgCircle,
#bgCircle6,
#bgCircle7,
#bgCircle8 {
  /* background-color: #0226aa; */
  background-color: rgb(31, 31, 31);
}



.img_site {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  /* height: 50%; */
}

.ttttick {
  height: 15px;
  width: 15px;
}

video {
  height: 15px !important;
  width: 15px;
}

.span_image {
  background-image: url('../public/cv_blanc.png');
  background-size: "cover",
}

.text-green {
  /* color: #ffcd00; */
  color: var(--color-green);
}

/* .effet_perso {
  transition: color .5s cubic-bezier(.19, 1, .22, 1);
  transition: color .5s var(--ease-out-expo)
}

.effet_perso:hover {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.effet_perso:hover .header__submenu {
  display: flex
}

.effet_perso:hover:before {
  --transform-scale-y: 1
}

.effet_perso:hover .points__pt {
  --transform-translate-y: -0.25rem;
  background-color: var(--color-green)
} */

/* .effet_perso:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-color: var(--color-white);
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transition-timing-function: var(--ease-out-expo);
  --transform-scale-y: 0;
  transform-origin: bottom;
  z-index: -1
} */

.h-screen-1\/2 {
  height: 50vh;
}

.w-screen-1\/2 {
  width: calc(100% - 10vh);
}

.h-screen {
  height: 100%
}

.w-40vw {
  width: 40%;
}

@media (min-width:1000px) {
  .rg\:text-start {
    text-align: start;
  }

  /* #screen4 .text1{
    color:rgb(156, 220, 254);
  } */
}

/* #texte_bas_36{
  zIndex: "20",
  top: "80vh",
  left: "15vw",
  position: "absolute",
  size: "40px",
} */

/* .h-screen-1/4	height: 25vh;	Set the element's height to 25vh. */
/* .h-screen-3/4	height: 75vh; */

/* @media (max-width:1000px) { */
/* #bgCircle { */
/* bottom:0vh; */
/* left:40vh; */
/* right:0; */
/* width:calc(50vh - 5px); */
/* height:calc(50vh - 5px); */
/* padding:0 50% 0 50%; */
/* }

/* } */

@media (max-height:660px) {

  #texte_bas,
  #texte_droite {
    display: none;
  }
}


.top-50prcent {
  top: 50vh;
}

@media (max-width:328px) {
  #code_contain {
    top: 50vh;
  }
}

@media (min-width:328px) and (max-width:465px) {
  #code_contain {
    top: 40vh;
  }
}

@media (min-width:465px) and (max-width:776px) {
  #code_contain {
    top: 35vh;
  }
}

@media (min-width:0px) and (max-width:776px) {
  .mini\:overflow-x-hidden {
    overflow-x: hidden;
  }
}

/* border compétence */


.borderComp {
  padding: 10px 10px;
  background-color: rgb(249, 249, 249);
  /* width: 517px; */
  /* text-align: center; */
  position: relative;
  border-radius: 30px;
  /* max-height:35px; */
  color: rgb(10, 10, 10);
  /* border-width: 10px; */
  /* line-height: 5px; */
}

/* .borderComp:before {
  border-radius: 30px;
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: repeating-linear-gradient(-45deg, #0b6878 0, #0b6878 10px, #e1f4fa 10px, #e1f4fa 20px, #38c1d9 20px, #38c1d9 30px, #e1f4fa 30px, #e1f4fa 40px);
	animation: animate 15s linear infinite;
} */

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 500px;
  }
}

.borderComp1 {
  border-color: var(--color-yellow);
}

.borderComp2 {
  border-color: var(--color-blue);
}

.borderComp3 {
  border-color: var(--color-green);
}

.borderComp1:before {
  border-radius: 30px;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: var(--color-yellow);
  /* background: repeating-linear-gradient(-45deg, #0b6878 0, #0b6878 10px, #e1f4fa 10px, #e1f4fa 20px, #38c1d9 20px, #38c1d9 30px, #e1f4fa 30px, #e1f4fa 40px); */
  /* animation: animate 15s linear infinite; */
}

.borderComp2:before {
  border-radius: 30px;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: var(--color-blue);
  /* background: repeating-linear-gradient(-45deg, #0b6878 0, #0b6878 10px, #e1f4fa 10px, #e1f4fa 20px, #38c1d9 20px, #38c1d9 30px, #e1f4fa 30px, #e1f4fa 40px); */
  /* animation: animate 15s linear infinite; */
}

.borderComp3:before {
  border-radius: 30px;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: var(--color-green);
  /* background: repeating-linear-gradient(-45deg, #0b6878 0, #0b6878 10px, #e1f4fa 10px, #e1f4fa 20px, #38c1d9 20px, #38c1d9 30px, #e1f4fa 30px, #e1f4fa 40px); */
  /* animation: animate 15s linear infinite; */
}

/* .borderComp h1 {
	margin: 0;
	font-size: 3rem;
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
	color: #2b859e;
} */


#Kaka {
  text-align: center;
}


#Kaka {
  background-color: hsl(0, 0%, 99%);
  min-height: 8à0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 1vw;
  padding: 10vh 10vw 10vh 10vw;
}

#KakaWrapper {
  width: 100vw;
  padding: 10vh 10vw 10vh 10vw;
  background-color: red;

}

#rightscroll{
  font-family: "Sofia-pro";
  font-weight: 300;
}

#scrollbutton span:before {
  /* content: "\2191"; */
  /* font-weight: 600; */
}

#scrollbutton:hover {
  /* animation-name: example; */
  /* animation-duration: 1s; */
  /* animation-fill-mode: forwards; */
}

@keyframes example {

  /* from {background-color: red;} */
  to {
    background-color: var(--color-blue-dark);
  }
}

.bg-dark-blue {
  background-color: var(--color-blue-dark);
}

.bg-light-blue {
  background-color: var(--color-green);
}

.min-h-32 {
  min-height: 50px;

}

.opa-0 {
  /* opacity: 0; */
  animation-name: opa-0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.opa-1 {
  /* opacity: 1; */
  animation-name: opa-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes opa-0 {

  /* from {background-color: red;} */
  to {
    /* background-color: var(--color-blue-dark); */
    opacity: 0;
  }
}

@keyframes opa-1 {

  /* from {background-color: red;} */
  to {
    /* background-color: var(--color-blue-dark); */
    opacity: 1;
  }
}